==
<ul class="language">
    <li class="{% if activeLocaleName == 'Magyar' %}active{% endif %}">
        <a href="#" data-request="onSwitchLocale" data-request-data="locale: 'hu'">hu</a>
    </li>
    <li class="{% if activeLocaleName == 'English' %}active{% endif %}">
        <a href="#" data-request="onSwitchLocale" data-request-data="locale: 'en'">en</a>
    </li>
    <li class="{% if activeLocaleName == 'French' %}active{% endif %}">
        <a href="#" data-request="onSwitchLocale" data-request-data="locale: 'fr'">fr</a>
    </li>
</ul>
