description = "kiállítás archive"
==
<h1 class="kiallitas-head">kiállítások</h1>

<div class="kiallitas-panel z-depth-2">

        <div class="kiallitas-left left">            
            <h2 class="artist-name">Makláry Kálmán</h2>
            <h3 class="kiallitas-title">Encore</h3>
            <hr>
            <p class="kiallitas-excerpt">Tisztelettel meghívjuk Önt és Partnerét Makláry Kálmán kiállításmegnyitójára.</p>
            <p class="kiallitas-date">2017. május 25. csütörtök 18:30</p>
        </div><!-- kiallitas-info -->

        <div class="kiallitas-right right">
            <p class="main-date">2017 május</p>
            <div class="kiallitas-feat-box">
                <img class="img-responsible z-depth-2" src="{{ 'assets/images/sample/kiallitas01.png'|theme }}" alt="">
            </div>
        </div><!-- kiallitas-info -->

        <div class="clear"></div>

        <p class="bovebben"><a href="#">bővebben</a></p>

</div><!-- kiallitas-panel -->
