description = "showroom home"
==
<ul class="items-list">

    <li class="item z-depth-1 hoverable">
        <a href="{{ 'showroom/item'|page }}">
            <img class="responsive-img" src="{{ 'assets/images/sample/sample6.png'|theme }}" alt="">
            <h3 class="item-name truncate">Kutya szalámi bőrrel köröm</h3>
        </a>
    </li>

    <li class="item z-depth-1 hoverable">
        <a href="{{ 'showroom/item'|page }}">
            <img class="responsive-img" src="{{ 'assets/images/sample/sample6.png'|theme }}" alt="">
            <h3 class="item-name truncate">Kutya szalámi bőrrel köröm</h3>
        </a>
    </li>

    <li class="item z-depth-1 hoverable">
        <a href="{{ 'showroom/item'|page }}">
            <img class="responsive-img" src="{{ 'assets/images/sample/sample6.png'|theme }}" alt="">
            <h3 class="item-name truncate">Kutya szalámi bőrrel köröm</h3>
        </a>
    </li>

    <li class="item z-depth-1 hoverable">
        <a href="{{ 'showroom/item'|page }}">
            <img class="responsive-img" src="{{ 'assets/images/sample/sample6.png'|theme }}" alt="">
            <h3 class="item-name truncate">Kutya szalámi bőrrel köröm</h3>
        </a>
    </li>

    <li class="item z-depth-1 hoverable">
        <a href="{{ 'showroom/item'|page }}">
            <img class="responsive-img" src="{{ 'assets/images/sample/sample6.png'|theme }}" alt="">
            <h3 class="item-name truncate">Kutya szalámi bőrrel köröm</h3>
        </a>
    </li>

    <li class="item z-depth-1 hoverable">
        <a href="{{ 'showroom/item'|page }}">
            <img class="responsive-img" src="{{ 'assets/images/sample/sample6.png'|theme }}" alt="">
            <h3 class="item-name truncate">Kutya szalámi bőrrel köröm</h3>
        </a>
    </li>

</ul><!-- items-list -->
