description = "info box (ajánlat)"
==
<div class="showroom-top z-depth-1">
    <h1>Bardoni Interieur Showroom</h1>
    <p>Gyönyörű <i>Szecessziós</i>, az <i>Art Deco</i> és a <i>Bauhaus</i> műtárgyaink mellett megtalálja a színes 60-as, 70-es évek designbútorait is, antik és kortárs festményeket, szobrokat, dísztárgyakat. Látogasson be hozzánk!</p>
    <hr>
    <p><b>Ajánlatkérés:</b> kattintson a termékre, majd az Ajánlatkérés gombra, hogy listába tegyük Önnek a kiválasztott terméket.  Akár több terméket is a listához adhat, ezek alapján Önnek árajánlatot küldünk.</p>
</div><!-- showroom-top -->
