description = "showroom item single"
==
<article class="item-content">

    <div class="feat-image left">
        <img class="img-responsive" src="{{ 'assets/images/sample/item-portrait.png'|theme }}" alt="">
        <!-- <img class="img-responsive z-depth-3" src="{{ 'assets/images/sample/item-landscape.png'|theme }}" alt=""> -->
    </div><!-- feat-image -->

    <div class="item-info-box right">
        <h1 class="item-title">Horváth László Pál - Régi állólámpa</h1>
        <p class="item-description">
            Sierra Tarahumara, popularly known as Copper Canyon is situated in Mexico. The area is a favorite destination among those seeking an adventurous vacation. Copper Canyon is one of the six gorges in the area. Although the name suggests that the gorge might have some relevance to copper mining, this is not the case.
        </p>
        <hr>
        <p class="size">Méret: 67 x 72 x 130 cm</p>
        <button type="button" class="btn waves-effect" name="button">Ajánlatkérés</button>
    </div><!-- item-info-box -->

    <div class="clear"></div>

    <div class="gallery-cont">
        <p>galéria helye</p>
    </div><!-- gallery-cont -->

</article><!-- item-content -->
