description = "items category list"
==
<aside id="sidebar" class="kiallitas z-depth-1">
    <h2>művészek</h2>
    <ul class="artist-box"><!-- bútorok -->
        <li class="artist"><a href="#">Makláry Kálmán</a></li>
        <li class="artist"><a href="#">Kyan Smith</a></li>
        <li class="artist"><a href="#">Kadosa-Kiss József</a></li>
        <li class="artist"><a href="#">Sam Havadtoy</a></li>
        <li class="artist"><a href="#">László Endre</a></li>
        <li class="artist"><a href="#">Károlyi Ernő</a></li>
        <li class="artist"><a href="#">Duhaj Péter</a></li>
        <li class="artist"><a href="#">Kárpáti Béla</a></li>
        <li class="artist"><a href="#">Károlyi Ernő</a></li>
    </ul><!-- category-box --><!-- bútorok -->

    <h2>kiállítások</h2>
    <ul class="kiallitas-box"><!-- világítás -->
        <li class="kiallitas-list">
            <a href="#">
                <p>Makláry Kálmán<br><span>Encore</span></p>
            </a>
        </li>
        <li class="kiallitas-list">
            <a href="#">
                <p>Kyan Smith<br><span>Cím nélkül</span></p>
            </a>
        </li>
        <li class="kiallitas-list">
            <a href="#">
                <p>Kadossa-Kiss József<br><span>Panoptikum</span></p>
            </a>
        </li>
        <li class="kiallitas-list">
            <a href="#">
                <p>Sam Havadtoy<br><span>You Are Here</span></p>
            </a>
        </li>
        <li class="kiallitas-list">
            <a href="#">
                <p>László Endre<br><span>Tükröződések</span></p>
            </a>
        </li>
    </ul><!-- category-box --><!-- világítás -->
</aside><!-- sidebar itemcat -->
