description = "items category list"
==
<aside id="sidebar" class="itemcat z-depth-1">
                <h2><a href="#">összes termék</a></h2>
                <ul class="category-box"><!-- bútorok -->
                    <li class="main-cat"><a href="#">bútorok</a></li><!-- main cat -->
                    <li class="sub-cat"><a href="#">Székek</a></li>
                    <li class="sub-cat"><a href="#">Asztalok</a></li>
                    <li class="sub-cat"><a href="#">Fotelek</a></li>
                    <li class="sub-cat"><a href="#">Íróasztalok</a></li>
                    <li class="sub-cat"><a href="#">Kanapék</a></li>
                    <li class="sub-cat"><a href="#">Komódok</a></li>
                    <li class="sub-cat"><a href="#">Tálalószekrények</a></li>
                    <li class="sub-cat"><a href="#">Étkezőgarnitúrák</a></li>
                    <li class="sub-cat"><a href="#">Szekrények</a></li>
                </ul><!-- category-box --><!-- bútorok -->
                <ul class="category-box"><!-- világítás -->
                    <li class="main-cat"><a href="#">világítás</a></li><!-- main cat -->
                    <li class="sub-cat"><a href="#">Asztali lámpák</a></li>
                    <li class="sub-cat"><a href="#">Állólámpák</a></li>
                    <li class="sub-cat"><a href="#">Csillárok</a></li>
                    <li class="sub-cat"><a href="#">Falikarok</a></li>
                    <li class="sub-cat"><a href="#">Lámpaernyők</a></li>
                    <li class="sub-cat"><a href="#">Aplikok</a></li>
                </ul><!-- category-box --><!-- világítás -->
            </aside><!-- sidebar itemcat -->