
//font-awesome
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css);


// -----------------------
// material-icons
// -----------------------
@font-face {
    font-family: 'Material Icons';
    src: url('..fonts/material-icons/MaterialIcons-Regular.eot');
    src: url('../fonts/material-icons/MaterialIcons-Regular.woff2') format('woff2'),
        url('../fonts/material-icons/MaterialIcons-Regular.woff') format('woff'),
        url('../fonts/material-icons/MaterialIcons-Regular.ttf') format('ttf');
    font-style: normal;
    font-weight: 400;
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

// -----------------------
// ek-mukta
// -----------------------
@font-face {
    font-family: 'EkMukta-Regular';
    src: url('../fonts/ekmukta/EkMukta-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ekmukta/EkMukta-Regular.woff') format('woff'),
        url('../fonts/ekmukta/EkMukta-Regular.ttf')  format('truetype'),
        url('../fonts/ekmukta/EkMukta-Regular.svg#Poppins-Regular') format('svg');
}
@font-face {
    font-family: 'EkMukta-Medium';
    src: url('../fonts/ekmukta/EkMukta-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ekmukta/EkMukta-Medium.woff') format('woff'),
        url('../fonts/ekmukta/EkMukta-Medium.ttf')  format('truetype'),
        url('../fonts/ekmukta/EkMukta-Medium.svg#Poppins-Regular') format('svg');
}
@font-face {
    font-family: 'EkMukta-Bold';
    src: url('../fonts/ekmukta/EkMukta-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ekmukta/EkMukta-Bold.woff') format('woff'),
        url('../fonts/ekmukta/EkMukta-Bold.ttf')  format('truetype'),
        url('../fonts/ekmukta/EkMukta-Bold.svg#Poppins-Regular') format('svg');
}





// ------- RALEWAY-------
@import url('https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600,700,800,900&subset=latin-ext');
// font-family: 'Raleway', sans-serif;

// ------- ROBOTO -------
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700');
// font-family: 'Roboto', sans-serif;
